


<section>
    <link rel="stylesheet" href="/css/blog-new.css">
    <br />
    <br />
    <div class="container">
        <div class="row">
            <div class="images">

                <div class="col-md col-xl">
                    <h1>@ViewBag.BlogPost.Title</h1>
                    <p>@ViewBag.BlogPost.BigText</p>
                </div>
            </div>

        </div>
    </div>
</section>

